# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/
ENV/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Environment
# ==========================================

.env

# ==========================================
# Upload Folder
# ==========================================

static/uploads/*
!static/uploads/.gitkeep

# ==========================================
# Dataset
# ==========================================

rambu/

# ==========================================
# Model (Pilih salah satu)
# ==========================================

# Jika model TIDAK ingin masuk GitHub
# gtsrb_vgg16.keras

# Jika model ingin masuk GitHub (karena ukurannya <100 MB)
# hapus baris di atas

# ==========================================
# Misc
# ==========================================

.DS_Store
Thumbs.db